VITE_SUPABASE_URL=https://grpijhpdewyjvbjixygd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdycGlqaHBkZXd5anZiaml4eWdkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NTQzNDUsImV4cCI6MjA5NTAzMDM0NX0.1B58LY5atpd8B8EmBFlwh-5SCGEDoGG-O2zzIy81JNs
